    body {

        font-family: "Poppins", sans-serif;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    a {
        text-decoration: none;
        color: black;
        
    }

    h1 {
        text-align: center;
        color: #222;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 100%;
        max-width: 900px;
    }

    .box {
        background: white;
        border-radius: 15px;
        padding: 20px 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 90%;
        max-width: 400px;
        flex: 1;
    }

    label,
    select,
    input {
        display: block;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    input,
    select {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 1em;
    }

    button {
        background-color: salmon;
        color: black;
        border: none;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        font-size: 1em;
        border: 2px solid black;
    }

    button:hover {
        background-color: white;
    }

    .result {
        margin-top: 15px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        background: salmon;
        border-radius: 8px;
        border: 2px solid black;
    }

    .steps {
        background: salmon;
        border-radius: 10px;
        padding: 15px;
        font-size: 0.95em;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
    }